/* ANCHO DE LAS "ACCIONES RAPIDAS" DEL QUICK SIDEBAR */
@media (min-width: 993px) {
.m-header-menu .m-menu__nav > .m-menu__item .m-menu__submenu {
		width: 317px;
	}
}
/* Tamaño de los Tags de Acciones Rapidas */
.document-tag {
	text-align: center;
	min-width: 42px;
}
/* Etiliza el boton de Aplicaciones */
.aplicacion {
	border: 1px solid;
	border-radius: 44px;
	padding: 18px !important;
	height: calc(100% - 32px) !important;
}
/* Fix del Height en navegacion */
.m-nav.m-nav--inline > .m-nav__item {
	height: 7% !important;
}
.m-nav.m-nav--inline {
	height: auto !important;
}
/* padding del cotenido general del dashboard  */
.m-body .m-content {
    padding: 10px 30px;
}
.m-subheader {
    padding: 8px 30px 0 30px;
}
/* portets de los datatables */
.m-portlet .m-portlet__body {
    padding: 0.2rem 2.2rem 2.2rem 2.2rem;
}
/* Spacers */
.spacer {
	display: block;
}
.spacer-20 {
	height: 20px;
}
